body {
    background-image: url("/assets/images/background01.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;

}


main {
    width: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    padding: 2em 0;
}

.om-uppgiften {
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.806);
    border-radius: 4px;
    backdrop-filter: blur(5px);
    
    
    .search-select {
        padding-top: 2em;
        width: 100%;
        display: flex;
        justify-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    h1 {
        padding: 1em 1em 0 1em;
        font-size: 2em;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        text-align: center;
    }

    .search-holder {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .select-option {
        width: 55%;
        padding: 1em;
    }
    option {
        font-size: 1.4em;
    }
    select {
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.8);
    }
    .search-label {
        
        font-size: calc((1em + 1vw) / 1.1);
    }
    #search {
        padding: 10px;
        width: 50%;
        height: 3.6em;
        border-radius: 5px;
        box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.8);
        font-size: 1em;
    }

    input:focus, select:focus {
        outline: none !important;
        border:1px solid red;
        box-shadow: 0 0 10px #719ECE;
    }

    .om-uppgiften h1 {
        width: 100%;
        text-align: center;
        font-size: 2em;
        padding: 1em;
    }

    .om-kurser {
        overflow-x: auto;
        padding: 3em;
    }

    table {
        border-collapse: collapse;
        border: 2px solid rgb(140 140 140);
        font-family: "Source Sans 3", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: calc((1em + 1vw) / 2);
        letter-spacing: 1px;
    }

    thead,
    tfoot {
        background-color: rgb(228 240 245);
        
    }
    th.code, .courseName,
    .syllabus, .progressionTH {
        font-weight: 700;
    }
    th,
    td {
        border: 1px solid rgb(160 160 160);
        padding: 13px 10px;
        font-weight: 300;
    }

    td:last-of-type {
        text-align: center;
    }

    tbody>tr:nth-of-type(even) {
        background-color: rgb(237 238 242);
    }
    
    tfoot th {
        text-align: right;
        
    }
    .code, .courseName, 
    .progressionTH, .syllabus {
        text-decoration: underline;
        color: rgb(169, 31, 7);
    }

    .courseName {
        text-align: left;
    }
    
    .progression {
        text-align: center;
    }

    .points {
        text-align: center;
    }
    tfoot td, .added {
        font-weight: bold;
    }

    #code,
    #progression,
    #name {
        cursor: pointer;
    }

    .code:hover,
    .courseName:hover,
    .progressionTH:hover,
    .syllabus:hover {
        cursor: pointer;
        color: green;
    }
    .addBtn {
        padding: .25em 1.5em;
        white-space: nowrap;
        border: outset;
        box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.8);
    }

    .addBtn:hover {
        background-color: #0e5199;
        cursor: pointer;
        border: inset;
        color: whitesmoke;
        box-shadow: none;
    }

    .url a:hover {
        color: green;
    }

    .error-message {
        padding-top: 1em;
        font-size: 1.4em;
        font-family: "Roboto", sans-serif;
    }
    .number {
        color: rgb(169, 31, 7);
        font-weight: bold;
    }

    .p-paginator-bottom.p-paginator.p-component {
        padding-top: 20px;
    }
    
        button.p-ripple.p-element.p-paginator-next.p-paginator-element.p-link,
        button.p-ripple.p-element.p-paginator-last.p-paginator-element.p-link,
        button.p-ripple.p-element.p-paginator-prev.p-paginator-element.p-link,
        button.p-ripple.p-element.p-paginator-first.p-paginator-element.p-link {
            padding: 10px;
            height: 3em;
            margin: .1em;
            border-radius: 50%;
            border: 1px solid black;
            transition: transform 0.3s;
            background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
            ;
        }
    
        button.p-ripple.p-element.p-paginator-next.p-paginator-element.p-link:hover,
        button.p-ripple.p-element.p-paginator-last.p-paginator-element.p-link:hover,
        button.p-ripple.p-element.p-paginator-prev.p-paginator-element.p-link:hover,
        button.p-ripple.p-element.p-paginator-first.p-paginator-element.p-link:hover {
            transform: scale(1.1);
            background-color: #0e5199;
            color: white;
        }
    
        span.p-paginator-current {
            font-size: 1.1em;
        }
}


@media screen and (max-width: 700px) {
    .om-kurser {
        width: 100%;
    }

    #kursData {
        overflow-x: auto !important;
    }

    .search-select {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .search-label {
        display: none;
    }

    .search-holder {
        width: 100%;
        padding-bottom: 1em;
    }

    #search {
        width: 100% !important;
    }
}

@media screen and (max-width: 450px) {
    .om-kurser {
        width: 100%;
        font-size: .75em;
        padding: .5em !important;
    }

    .kursList {
        padding: .50em;
    }

    .search-label {
        display: none;
    }

    #search {
        width: 90% !important;
    }
    
    .search-holder {
        width: 100% !important;
        margin-bottom: 1em;
    }
    .select-option {
        width: 90% !important;
        margin-left: 1.5em;
        padding: 1em;
    }
}