
<div class="main_div">
    <section class="courses" id="main_div">
        <h1>Mitt i Sverige är det lätt</h1>
        <p>
            Skönt friluftsliv finns runt knuten. Och utanför dörren finns shopping och nöjen. Våra campus är dessutom
            unika
            – med karaktär och charm.
        </p>
        <div class="div-underSection">
            <div class="div-underSection2">
                <h3>Barnens universitet</h3>
                <p>Hej och välkommen till oss på Mittuniversitetet! Här kan du som lärare eller elev få inspiration inom
                    olika ämnen,
                    vad man kan forska om för att skapa en mer hållbar värld!
                </p>

            </div>
            <div class="div-underSection2">
                <h3>Utbildning</h3>
                <p>Vi erbjuder 60 program, 480 kurser och 40 magister-/masterutbildningar. Vad väljer du?
                    med träffar på campus, andra helt över internet. Välj nedan vad som passar just dig bäst!
                </p>

            </div>
            <div class="div-underSection2">
                <h3>Plugga på distans</h3>
                <p>Vi har ett av Sveriges största utbud av distansutbildningar. Kurser och program, en del med träffar
                    på campus, andra helt över internet.

                    Välj nedan vad som passar just dig bäst!</p>

            </div>
        </div>
    </section>
    <section class="second_section">
        <h1>Aktuellt</h1>
        <p>Här kan du som grundskollärare eller elev få inspiration inom olika ämnen, vad en forskare gör och vad man
            kan forska om för att skapa en mer hållbar värld!</p>
        <div class="div-underSection">
            <div class="img_undersction">
                <img src="/assets/images/university_sundsvall.jpg" alt="Mittuniversitetet byggnaden">
                <div class="heading">
                    <h3>Sundsvall</h3>
                    <p class="heading-text">Här kan du som grundskollärare eller elev få inspiration inom olika ämnen,
                        vad en forskare gör och vad man kan forska om för att skapa en mer hållbar värld! <a
                            href="https://www.miun.se/utbildning/safunkardet/Bostader-till-alla/">läs mer...</a></p>
                </div>
            </div>
            <div class="img_undersction">
                <img src="/assets/images/background01.jpg" alt="studenter i Mittuniversitetet">
                <div class="heading">
                    <h3>Östersund</h3>
                    <p class="heading-text">Välkommen till Sveriges mest fjäll­nära universitet. Här kan du studera med
                        både fjällvärlden och Storsjön alldeles runt knuten.<a
                            href="https://www.miun.se/utbildning/safunkardet/Bostader-till-alla/">läs mer...</a></p>
                </div>
            </div>
            <div class="img_undersction">
                <img src="/assets/images/boende2.webp" alt="boende">
                <div class="heading">
                    <h3>Bostadsgaranti</h3>
                    <p class="heading-text">I Sundsvall och Östersund erbjuder kommunerna dig bostadsgaranti. Det finns
                        vissa regler för att bostadsgarantin ska gälla och dessa hittar du på respektive kommuns
                        webbplats. <a href="https://www.miun.se/utbildning/safunkardet/Bostader-till-alla/">läs
                            mer...</a></p>
                </div>
            </div>
        </div>
    </section>

    <hr>
    <section class="students">
        <h1>vad våra studenter säger</h1>
        <div class="div-underSection">
            <div class="feedBack">
                <img src="/assets/images/jole.jpg" alt="jole">
                <div class="heading3">
                    <h3>Sara</h3>
                    <p>Jag har haft en exceptionell upplevelse vid East-Universitet. De akademiska programmen är
                        rigorösa och välstrukturerade, vilket ger en solid grund för både teoretisk och praktisk
                        kunskap.
                </div>
            </div>
            <div class="feedBack">
                <img src="/assets/images/shakira.jpg" alt="shakira">
                <div class="heading3">
                    <h3>shakira</h3>
                    <p>Fakultetsmedlemmarna är inte bara mycket kunniga inom sina respektive områden, utan också genuint
                        engagerade i sina studenters framgång och utveckling.
                </div>
            </div>
            <div class="feedBack">
                <img src="/assets/images/background01.jpg" alt="studenter">
                <div class="heading3">
                    <h3>Nancy</h3>
                    <p>Campusområdet är livfullt och inkluderande, med ett brett utbud av fritidsaktiviteter, klubbar
                        och organisationer som tillgodoser olika intressen och bakgrunder.
                </div>
            </div>
        </div>

    </section>
    <div class="footer">

        <section class="kontakt_section">
            <h1>För mer information tvika inte dig att kontkta oss </h1>
            <a href="076-545-5455" class="btn">kontakt oss</a>
        </section>
    </div>
</div>