
footer {
    background-color: #2b2e35;
    width: 100%;
    height: auto;
    padding: 20px;

    .footer-head,
    .footer-para {
        font-size: .75em;
        color: ghostwhite;
        text-align: center;
        padding-bottom: .50em;
    }

}
