
<header id="scroll_function">
    <section class="header-section">
        <h2 class="logo" tabindex="0" onclick='window.location.href = "./course-list"'><img id="mainlogo" src="/assets/images/east_logo_project.png" alt="east university logo"></h2>
    </section>
    <button class="menuBtn open" id="open-menu" (click)="openMenu()">
        <span class="menu-icon">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
        </span>
        <span class="menu-text">Meny</span>
    </button>
    <nav id="nav-menu" [style.display]="isMenuOpen ? 'block' : 'none'">
        <button class="menuBtn close" id="close-menu" (click)="closeMenu()">
            <span class="menu-icon">
                <span class="bars cross1"></span>
                <span class="bars cross2"></span>
            </span>
            <span class="menu-text">stäng</span>
        </button>
        <ul>
            <li class="links"><a routerLink="/course-list" routerLinkActive="active-link">Startsida</a></li>
            <li class="links"><a routerLink="/ram-schema" routerLinkActive="active-link">ram-schema</a></li>
        </ul>
    </nav>
</header>